/* raleway-regular - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/raleway-v18-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/fonts/raleway-v18-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/raleway-v18-latin-regular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/raleway-v18-latin-regular.woff")
			format("woff"),
		/* Modern Browsers */ url("/fonts/raleway-v18-latin-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/fonts/raleway-v18-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* cabin-regular - latin */
@font-face {
	font-family: "Cabin";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/cabin-v17-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/fonts/cabin-v17-latin-regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/cabin-v17-latin-regular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/cabin-v17-latin-regular.woff")
			format("woff"),
		/* Modern Browsers */ url("/fonts/cabin-v17-latin-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */ url("/fonts/cabin-v17-latin-regular.svg#Cabin")
			format("svg"); /* Legacy iOS */
}
/* cabin-500 - latin */
@font-face {
	font-family: "Cabin";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/cabin-v17-latin-500.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/fonts/cabin-v17-latin-500.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/cabin-v17-latin-500.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/cabin-v17-latin-500.woff")
			format("woff"),
		/* Modern Browsers */ url("/fonts/cabin-v17-latin-500.ttf")
			format("truetype"),
		/* Safari, Android, iOS */ url("/fonts/cabin-v17-latin-500.svg#Cabin")
			format("svg"); /* Legacy iOS */
}
/* cabin-700 - latin */
@font-face {
	font-family: "Cabin";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/cabin-v17-latin-700.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/fonts/cabin-v17-latin-700.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/cabin-v17-latin-700.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/cabin-v17-latin-700.woff")
			format("woff"),
		/* Modern Browsers */ url("/fonts/cabin-v17-latin-700.ttf")
			format("truetype"),
		/* Safari, Android, iOS */ url("/fonts/cabin-v17-latin-700.svg#Cabin")
			format("svg"); /* Legacy iOS */
}
